/* body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */
.mainBrock {
  position: fixed;
  top: 12vh;
  /* width: 93%; */
  width: 97%;
  margin-left: 1%;
  margin-right: 2%;
  height: 69vh;
  max-height: 69vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-radius: 2vh;
}

.cardTitle {
  position: relative;
  top: 27vh;
}

.imageBrock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5vh;
}
.cardItemBrock {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 12vh;
}
.goodIcon {
  width: 5vh;
  height: 5vh;
  position: absolute;
  top: 48%;
  right: -45%;
  color: red;
  z-index: 2;
}
.cardItem {
  font-size: 3vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.cardItemTxtarea {
  height: 11vh;
  width: 52vh;
  resize: none;
}
.itemImage {
  width: 25vh;
}
.buyBrock {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10vh;
}
.buyBtn {
  width: 40vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;

  background-color: #59c1bd;
  border: none; /* ボタンの枠線を非表示にする */
  outline: none; /* ボタンがフォーカスされたときの枠線も非表示にする（オプション） */
  box-shadow: 0 5px 5px #00000067;
}
