.card-mainBrock {
  position: relative;
  top: 10vh;
  width: 98%;
  /* margin: 0 1vw; */
  height: 90vh;
  /* max-height: 100vh; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  /* width: 100%; */
  padding-left: 1%;
  padding-right: 1%;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(89, 193, 189));
}

.card-cardTitle {
  position: absolute;
  top: 0vh;
  margin: 1vh auto;
}

.card-imageBrock {
  position: relative;
  top: 2vh;
  width: 25vh;
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  height: 25vh;
}
.card-cardItemBrock {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  top: 4vh;
  max-height: 38vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  width: 85%;
  border: none;
  outline: none;
  box-shadow: 0 5px 5px #00000067;
}

/*スクロールバー非表示（Chrome・Safari）*/
.card-cardItemBrock::-webkit-scrollbar {
  display: none;
}

.card-goodIcon {
  width: 4vh;
  height: 4vh;
  /* position: absolute; */
  /* top: 0vh; */
  /* right: 0vw; */
  color: red;
  /* z-index: 2; */
  /* align-content: center; */
}

.card-editIcon {
  width: 4vh;
  height: 4vh;
  /* position: absolute; */
  /* top: 0vh; */
  /* right: 0vw; */
  color: rgb(0, 0, 0);
  /* z-index: 2; */
  /* align-content: center; */
}

.card-cardItem {
  font-size: 1rem;
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.card-cardItemTxtarea {
  height: 62px;
  width: 80%;
  resize: none;
  margin: 0px 7%;
  padding: 3%;
  border-radius: 3px;
  max-width: 80%;
  min-width: 80%;
  min-height: 120%;

  min-height: 5vh;
}
.card-itemImage {
  width: 25vh;
}
.card-buyBrock {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  /* bottom: 5vh; */
  top: 5vh;
}
.card-buyBtn {
  width: 40vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  /* background-color: #59c1bd; */
  /* border: none; */
  /* outline: none; */
  /* box-shadow: 0 5px 5px #00000067; */
  /* box-shadow: 0 0.3em 0 #538483; */
  background-color: #0c4c92;
  border: none;
  outline: none;
  box-shadow: 0 0.3em 0 #042244;
  color: white;
}
.card-buyBtn:active {
  margin-top: 0.2em;
  box-shadow: 0 0.1em 0 #042244;
}

.card-IconBrock {
  width: 6vh;
  height: 6vh;
  position: absolute;
  top: 1vh;
  right: 1vh;
  /* color: red; */
  z-index: 2;
  background-color: #ffffff;
  border-radius: 3vh;
  /* align-content: center; */
  display: flex;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 2px #666666;
}

.card-piece {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2vh 0;
  border-bottom: solid 0.1px;
  border-color: #a0a0a0;
  position: relative;
  top: 0px;
}

.card-position-adjustment {
  width: 45px;
}
.card-navi-icon {
  margin: 0px 1.5vh;
  width: 4vh;
  height: 4vh;
}
h2.card-title {
  margin: 0;
  font-size: 1.3em;
}
