.exhibition-list-box {
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 10vh;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  max-height: 90vh;
  display: flex;
  height: 90vh;
  overflow-y: scroll;
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(89, 193, 189));
}

.exhibition-piece {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2vh 0;
  border-bottom: solid 0.1px;
  border-color: #a0a0a0;
}

.exhibition-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2.exhibition-title {
  margin: 0px;
  font-size: 1.3em;
}

.exhibition-title-icon {
  height: 5vh;
  width: 5vh;
  margin-left: 1vh;
}

.exhibition-position-adjustment {
  width: 45px;
}

.exhibition-toggle-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.exhibition-toggle-name {
  width: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid 0.1px;
  border-color: #a0a0a0;
}
.exhibition-toggle-name p {
  margin: 1vh 0;
}

.exhibition-color {
  border-bottom: solid 3px;
  border-color: #0d4c92;
}
.exhibition-color p {
  color: #0d4c92;
}

.exhibition-navi-icon {
  margin: 0px 1.5vh;
  width: 4vh;
  height: 4vh;
}

.exhibition-list-area {
  width: 100%;
}
ul.exhibition-image-list {
  margin-top: 8px;
  padding-left: 0;
  width: 100%;
}

/* img */
.exhibition-image-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 5px 5px #00000067;
}

.exhibition-image-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 0.1px;
  border-color: #a0a0a0;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2vh 0;
}

.exhibition-imgBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exhibition-contents-icon {
  width: 5vh;
  height: 5vh;
  margin: 0 2vh;
}

.exhibition-warningIcon {
  color: yellow;
  filter: drop-shadow(0px 0px 2px black);
  height: 4vh;
  width: 4vh;
}

.exhibition-info p {
  margin: 5px 10px;
  margin-right: 5px;
}

.exhibition-warning {
  display: flex;
  flex-direction: row;
  align-items: center;
}
