.favorite-list-box {
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 10vh;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  max-height: 90vh;
  display: flex;
  height: 90vh;
  overflow-y: scroll;
  align-items: center;
}

.favorite-piece {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2vh 0;
  border-bottom: solid 0.1px;
  border-color: #a0a0a0;
}

.favorite-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2.favorite-title {
  margin: 0px;
}

.favorite-title-icon {
  height: 5vh;
  width: 5vh;
  margin-left: 1vh;
}

.favorite-position-adjustment {
  width: 45px;
}

.favorite-navi-icon {
  margin: 0px 1.5vh;
  width: 4vh;
  height: 4vh;
}

.favorite-list-area {
  width: 100%;
}
ul.favorite-image-list {
  margin-top: 8px;
  padding-left: 0;
  width: 100%;
}

/* img */
.favorite-image-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 5px 5px #00000067;
}

.favorite-image-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 0.1px;
  border-color: #a0a0a0;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2vh 0;
}

.favorite-imgBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.favorite-contents-icon {
  width: 5vh;
  height: 5vh;
  margin: 0 2vh;
}

.favorite-warningIcon {
  color: yellow;
  filter: drop-shadow(0px 0px 2px black);
  height: 4vh;
  width: 4vh;
}

.favorite-info p {
  margin: 5px 10px;
  margin-right: 5px;
}

.favorite-warning {
  display: flex;
  flex-direction: row;
  align-items: center;
}
