footer {
  position: fixed;
  bottom: 0dvh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8dvh;
  background-color: #808080;
}

.searchIcon,
.postIcon,
.settingIcon {
  width: 6dvh;
  height: 6dvh;
}
.searchIcon,
.postIcon,
.settingIcon {
  margin: 5dvh;
}

.settingIcon {
  rotate: 90deg;
}
