@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@500&display=swap");
.header-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* position: sticky; */
  top: 0vh;
  width: 100%;
  height: 10vh;
  margin-top: 0;
  background-color: #59c1bd;
  justify-content: space-around;
}

.header-userIcon,
.header-backIcon {
  width: 6vh;
  height: 6vh;
  color: #0d4c92;
}

.header-header1 {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 4.5vh;
  text-decoration: underline;
  color: #0d4c92;
}
