body {
  overflow: hidden;
}
.list-image-box img {
  /* width: auto; */
  /* height: 100px; */
  /* max-width: 100px; */
  /* margin: 5px; */
  /* border-radius: 1vh; */
  width: 165px;
  height: 120px;
  object-fit: cover;
  /* border-radius: 8px; */
  border: none;
  outline: none;
  /* box-shadow: 0 5px 5px #00000067; */
  position: relative;
  top: -6px;
}

.list-image-box {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

li.image-item {
  list-style: none;
  margin: 10px;
  object-fit: cover;
  width: 165px;
  height: 180px;
}

ul.list-image-list {
  margin-top: 0vh;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.list-item-p {
  margin: 0px;
}

/* 在庫あり */
.list-item-p2 {
  margin: 0;
  position: relative;
  display: inline-block;
  padding: 0.2rem 0.4rem 0.2rem 1rem;
  color: #000000;
  border-radius: 100vh 0 0 100vh;
  background: #64dc8e;
  font-size: 0.8rem;
}

.list-item-p2:before {
  position: absolute;
  top: calc(50% - 5px);
  left: 4px;
  width: 7px;
  height: 7px;
  content: "";
  border-radius: 50%;
  background: #fff;
}

/* 取引中 */
.list-item-p3 {
  margin: 0;
  position: relative;
  display: inline-block;
  padding: 0.2rem 0.4rem 0.2rem 1rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #fa4141;
  font-size: 0.8rem;
}

.list-item-p3:before {
  position: absolute;
  top: calc(50% - 5px);
  left: 4px;
  width: 7px;
  height: 7px;
  content: "";
  border-radius: 50%;
  background: #fff;
}

/* それ以外 */
.list-item-p4 {
  margin: 0;
  position: relative;
  display: inline-block;
  padding: 0.2rem 0.4rem 0.2rem 1rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #434343;
  font-size: 0.8rem;
}

.list-item-p4:before {
  position: absolute;
  top: calc(50% - 5px);
  left: 4px;
  width: 7px;
  height: 7px;
  content: "";
  border-radius: 50%;
  background: #fff;
}

.list-mainBrock-list {
  position: fixed;
  top: 22vh;
  width: 100%;
  max-height: 78vh;
  max-height: 78dvh;
  display: flex;
  height: 100%;
  /* overflow-y: scroll; */
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: #cff5e7; */
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(89, 193, 189));
  flex-direction: column;
}

/*スクロールバー非表示（Chrome・Safari）*/
.list-mainBrock-list::-webkit-scrollbar {
  display: none;
}

.list-search_boxes {
  display: flex;
  margin-left: 1vh;
  flex-direction: column;
  position: relative;
  top: 12vh;
}

.list-search-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-top: 1vh; */
}

.list-updateBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  height: 8vh;
  justify-content: space-between;
}
.list-exhibitList-span {
  margin-left: 3vh;
  font-size: 3vh;
}
.list-updateIcon {
  margin-right: 5vh;
  width: 4vh;
  height: 4vh;
  color: #0d4c92;
}
.rotation {
  animation: 1s rotation;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(720deg);
  }
}

.list-error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 7vw;
}
.list-searchTextBox {
  width: 26vh;
  height: 7vh;
  padding: 5px 15px;
  border: none;
  border-radius: 1vh 0 0 1vh;
  box-sizing: border-box;
  background-color: #e6edf3;
  font-size: 1em;
  outline: none;
  /* box-shadow: 0 5px 5px #00000067; */
}
.list-searchIconBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
  height: 7vh;
  width: 7vh;
  border-radius: 1vh 0 0 1vh;
  background-color: #e6edf3;
  /* box-shadow: 0 5px 5px #00000067; */
}
.list-searchIcon {
  width: 4vh;
  height: 4vh;
}
.list-filterIconBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
  height: 7vh;
  width: 9vh;
  border-radius: 0vh 1vh 1vh 0vh;
  background-color: #59c1bd;
  /* box-shadow: 0 5px 5px #00000067; */
}
.list-filterIcon {
  width: 4vh;
  height: 4vh;
  color: #0d4c92;
}
.list-userhome {
  height: 6vh;
  margin: 0;
  margin-left: 1vh;
  background: #59c1bd;
  color: #0d4c92;
  font-size: 15px;
  border-style: solid;
  border-radius: 1vh;
  background-color: #59c1bd;
  border: none;
  outline: none;
  /* box-shadow: 0 5px 5px #00000067; */
  width: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  min-width: 6vh;
  max-width: 6vh;
  min-height: 6vh;
  max-height: 6vh;
}
.rotationY {
  animation: 1s rotationY;
}
@keyframes rotationY {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(720deg);
  }
}

/* .list-userhome2 {
  height: 7vh;
  margin: 0;
  margin-left: 3vh;
  background: #59c1bd;
  color: #0d4c92;
  font-size: 15px;
  border-style: solid;
  border-radius: 1vh;
  background-color: #59c1bd;
  border: none;
  outline: none;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.list-userhome2:active {
  animation: 1s rotationY;
} */

.list-boxset {
  display: flex;
  position: relative;
  top: 2vh;
}

.list-addIconBrock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 7vh;
  height: 7vh;
  /* border-style: solid; */
  border-radius: 100%;
  /* margin-right: 5vh; */
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4);
  background-color: #0d4c92;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  color: #ffffff;
}

.list-addIcon {
  width: 6vh;
  height: 6vh;
}

/* .list-image {
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  border-radius: 15px;
  border: none;
  outline: none;
  box-shadow: 0 5px 5px #00000067;
} */

.list-myHomeIcon {
  width: 4vh;
  height: 4vh;
}
