.mypage-body {
  position: fixed;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  max-height: 90vh;
  height: 90vh;
  background: #d6f4e8;

  /* flex-wrap: nowrap; */
  /* max-height: 81vh; */
  /* display: flex; */
  /* height: 81vh; */
  /* overflow-y: scroll; */
  /* align-items: stretch; */
}

.mypage-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2vh 0;
}

.mypage-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mypage-navi-icon {
  margin: 0px 1.5vh;
  width: 4vh;
  height: 4vh;
}

.mypage-user-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-image-user-icon {
  /* width: 170px;
  height: 170px;
  color: white; */

  width: 170px;
  height: 170px;
  color: #0a3b68;
}

.mypage-user-info {
}

.mypage-user-contents-brock {
  width: 100%;
  height: 10vh;
}

.mypage-user-contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.1px;
  height: 80px;
}

.mypage-user-contents-piece {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.mypage-contents-icon {
  width: 5vh;
  height: 5vh;
  margin: 0 2vh;
}
