.notice-list-box {
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 10dvh;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  max-height: 90dvh;
  display: flex;
  height: 90dvh;
  overflow-y: scroll;
  align-items: center;
}

.notice-piece {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2dvh 0;
  border-bottom: solid 0.1px;
  border-color: #a0a0a0;
}

.notice-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2.notice-title {
  margin: 0px;
}

.notice-title-icon {
  height: 5dvh;
  width: 5dvh;
  margin-left: 1dvh;
}

.notice-position-adjustment {
  width: 45px;
}

.notice-toggle-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 3dvh;
  background: #bbbbbb;
  width: 32dvh;
  height: 8dvh;
}

.notice-trading-history-white {
  background: white;
  width: 14dvh;
  height: 5dvh;
  margin: 0 0.5dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px black;
}
.notice-trading-history-gray {
  background: #bbbbbb;
  width: 14dvh;
  height: 5dvh;
  margin: 0 0.5dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notice-completion-white {
  background: white;
  width: 14dvh;
  height: 5dvh;
  margin: 0 0.5dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px black;
}
.notice-completion-gray {
  background: #bbbbbb;
  width: 14dvh;
  height: 5dvh;
  margin: 0 0.5dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p.notice-toggle-text {
  margin: 0px;
}

.notice-navi-icon {
  margin: 0px 1.5dvh;
  width: 4dvh;
  height: 4dvh;
}

.notice-list-area {
  width: 100%;
}
ul.notice-image-list {
  margin-top: 8px;
  padding-left: 0;
  width: 100%;
}

/* img */
.notice-image-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 5px 5px #00000067;
}

.notice-image-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 0.1px;
  border-color: #a0a0a0;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2dvh 0;
}

.notice-imgBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notice-contents-icon {
  width: 5dvh;
  height: 5dvh;
  margin: 0 2dvh;
}

.notice-warningIcon {
  color: yellow;
  filter: drop-shadow(0px 0px 2px black);
  height: 4dvh;
  width: 4dvh;
}

.notice-info p {
  margin: 5px 10px;
  margin-right: 5px;
}

.notice-warning {
  display: flex;
  flex-direction: row;
  align-items: center;
}
