p {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-box {
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 10vh;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  max-height: 81vh;
  display: flex;
  height: 81vh;
  overflow-y: scroll;
  align-items: stretch;
}

.post-box button {
  margin: 2vh 10vh;
}
.post-box-piece {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  border-bottom: solid;
  border-bottom: solid 0.1px;
  padding-bottom: 15px;
}

.post-box-piece-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.1px;
}

.post-description-item {
  height: 100px;
}

.post-inner-item {
  display: flex;
  align-items: center;
}

.post-image-box img {
  width: auto;
  height: 100px;
  max-width: 100px;
  margin: 5px;
}
.post-image-box {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 150px;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
}
