/* p {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
} */
.post-piece {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* padding: 2vh 0; */
  /* border-bottom: solid 0.1px; */
  border-color: #a0a0a0;
  /* position: absolute; */
  top: 1px;
}
.post-navi-icon {
  margin: 0px 1.5vh;
  width: 4vh;
  height: 4vh;
}
.post-title {
  margin: 0;
}
.post-position-adjustment {
  width: 45px;
}
.post-fileAddIcon {
  height: 5vh;
  width: 5vh;
  margin-left: 5vh;
  cursor: pointer;
}
.post-itemPostBtn {
  display: none;
}
.post-box {
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 10vh;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  max-height: 90vh;
  display: flex;
  /* height: 81vh; */
  overflow-y: scroll;
  align-items: stretch;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(89, 193, 189));
}
.post-box-piece-img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  border-bottom: solid;
  border-bottom: solid 0.1px;
  padding-bottom: 15px;
}
.post-box-piece {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: solid;
  border-bottom: solid 0.1px;
  padding-bottom: 15px;
  align-content: center;
  justify-content: center;
}

.post-box-piece-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.1px;
  margin-bottom: 3vh;
}

.post-description-item {
  border-radius: 2vh;
  padding: 2vh;
  font-size: 1em;
  position: relative;
  margin-bottom: 3vh;
  height: 10vh;
  width: 45vh;
  border-width: 1px;
  resize: none;
}

.post-inner-item {
  display: flex;
  align-items: center;
}

.post-image-box img {
  width: auto;
  height: 100px;
  max-width: 100px;
  margin: 5px;
}
.post-image-box {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 150px;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
}

/* ============================================== */

.img_block {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 2vh;
}
.img_block2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 20vh;
  position: relative;
  top: 2vh;
  margin-right: 3vh;
  margin-left: 1vh;
}
.img_input {
  display: none;
}
.post-img_remove {
  position: relative;
  display: flex;
  background: #59c1bd;
  font-size: 15px;
  border-style: solid;
  border-radius: 1vh;
  background-color: #59c1bd;
  border: none;
  outline: none;
  box-shadow: 0 5px 5px #00000067;
}
.btnBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
/* ============================================== */
.post-closeBtnBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
  border-radius: 100%;
  height: 5vh;
  width: 5vh;
  position: relative;
  top: -17vh;
  left: 7vh;
  background-color: #cecccc;
  /* border-radius: 1vh; */
  box-shadow: 0 5px 5px #00000067;
}
.post-closeBtn {
  width: 3vh;
  height: 3vh;
}
.post-P {
  margin: 0;
  margin-top: 2vh;
  /* margin-left: 2vh; */
  /* margin-bottom: 1vh; */
  position: relative;
  left: -19.5vh;
}
/* .post-category {
  margin-right: 2vh;
  margin-bottom: 1vh;
} */

.post-selectbox {
  position: relative;
  margin: 2vh;
  margin-bottom: 3vh;
}

.post-selectbox::before,
.post-selectbox::after {
  position: absolute;
  content: "";
  pointer-events: none;
}

.post-selectbox::before {
  display: inline-block;
  right: 0;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0 3px 3px 0;
  background-color: #59c1bd;
}

.post-selectbox::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.post-selectbox select {
  appearance: none;
  min-width: 51vh;
  height: 2.8em;
  padding: 0.4em 3.6em 0.4em 0.8em;
  border-radius: 3px;
  color: #333;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  border-width: 1px;
}

.post-selectbox select:focus {
  outline: 2px solid #59c1bd;
}
.post-merchandise,
.post-deadline,
.post-num {
  width: 51vh;
  height: 7vh;
  padding: 5px 15px;
  border-radius: 1vh;
  box-sizing: border-box;
  font-size: 1em;
  position: relative;
  margin-bottom: 3vh;
  text-align: center;
  /* border-color: #b3b3b3; */
  border-width: 1px;
}
.buyBtnBlock {
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.post-button {
  width: 24vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  /* background-color: #59c1bd; */
  /* border: none; */
  /* outline: none; */
  /* box-shadow: 0 5px 5px #00000067; */
  height: 6vh;
  background-color: #0c4c92;
  border: none;
  outline: none;
  box-shadow: 0 0.3em 0 #042244;
  color: white;
}
.post-button:active {
  margin-top: 0.2em;
  box-shadow: 0 0.1em 0 #042244;
}

.post-h4 {
  margin-left: 1vh;
  font-size: 3vh;
}

.post-History-piece {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2vh 0;
  border-bottom: solid 0.1px;
  border-color: #a0a0a0;
}

.post-History-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2.post-History-title {
  margin: 0px;
  font-size: 1.3rem;
}

.post-History-position-adjustment {
  width: 45px;
}
.post-History-navi-icon {
  margin: 0px 1.5vh;
  width: 4vh;
  height: 4vh;
}

.post-titleIcon {
  height: 4vh;
  width: 4vh;
  margin-left: 1vh;
}

.img_block2 img {
  width: 100px;
  height: 100px;
  box-shadow: 0 5px 5px #00000067;
  border-radius: 1vh;
}
.post-updateBtn {
  width: 20vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  /* background-color: #59c1bd; */
  /* border: none; */
  /* outline: none; */
  /* box-shadow: 0 5px 5px #00000067; */
  height: 6vh;
  margin-right: 5vh;
  background-color: #0c4c92;
  border: none;
  outline: none;
  box-shadow: 0 0.3em 0 #042244;
  color: white;
}
.post-updateBtn:active {
  margin-top: 0.2em;
  box-shadow: 0 0.1em 0 #042244;
}

.post-deleteBtn {
  width: 20vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  /* background-color: #59c1bd; */
  /* border: none; */
  /* outline: none; */
  /* box-shadow: 0 5px 5px #00000067; */
  height: 6vh;
  background-color: #0c4c92;
  border: none;
  outline: none;
  box-shadow: 0 0.3em 0 #042244;
  color: white;
}
.post-deleteBtn:active {
  margin-top: 0.2em;
  box-shadow: 0 0.1em 0 #042244;
}
