p {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 20vh;
}

/* button {
  margin: 3vh 5vh;
} */

.title {
  display: flex;
  justify-content: center;
}
.title h2 {
  margin: 10px;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
}

.profile-box {
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 10vh;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  max-height: 81vh;
  display: flex;
  height: 81vh;
  overflow-y: scroll;
  align-items: stretch;
  background-color: #d6f4e8;
}

.profile-contents {
  display: flex;
  flex-direction: column;
}

.profile-piece-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-piece {
  display: flex;
  margin-top: 1vh;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.profile-tmc-email {
  border: 0px none;
}
.profile-user {
  margin-left: 10vh;
  margin-top: 3vh;
}

.profile-employeeCode {
  margin-left: 10vh;
  margin-top: 1vh;
  width: 36vh;
  border: 0px none;
}

.profile-private-email {
  margin-left: 10vh;
  margin-top: 1vh;
  width: 36vh;
  border: 0px none;
}

.profile-piece-side {
  margin-left: 21vh;
  margin-top: 0vh;
  font-size: 5px;
}

.profile-location {
  margin-left: 10vh;
  margin-top: 1vh;
  width: 36vh;
  border: 0px none;
}

.profile-area {
  margin-top: 1vh;
  margin: 1vh 10vh;
  width: 36vh;
  border: 0px none;
}

.profile-btn-createAccountBtn {
  margin-top: 8vh;
  margin: 5vh 20vh;
  background-color: #59c1bd;
  color: #fefefe;
  border: 0px none;
}

.profile-piece-block {
  white-space: pre-wrap;
}
