/* LOGIN CSS */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=Noto+Sans+JP:wght@500&display=swap");

.btn {
  cursor: pointer;
}
.loginMainBrock,
.signUpMainBrock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  height: 100%;
  position: fixed;
  width: 100%;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(89, 193, 189));
  /* background: #d6f4e8; */
  /* background: linear-gradient(90deg, rgb(255, 255, 255), rgb(214, 224, 232)); */
  /* background: linear-gradient(90deg, rgb(214, 224, 232), rgb(89, 193, 189)); */
}
.loginBrock,
.loginBrock2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  height: 80%;
  position: fixed;
  width: 98%;
  /* border-style: solid; */
}
.signUpBrock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  height: 100%;
  position: fixed;
  width: 98%;
  /* border-style: solid; */
}
.loginHead {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 6vh;
  text-decoration: underline;
  color: #0d4c92;
}
.createHead {
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 4vh;
  text-decoration: underline;
  color: #0d4c92;
}

.loginSpan {
  font-family: "M PLUS 1p", sans-serif;
}

.user,
.pass,
.employeeCode,
.tmc-email,
.private-email,
.location {
  width: 51vh;
  height: 7vh;
  padding: 5px 15px;
  border-radius: 1vh;
  box-sizing: border-box;
  font-size: 1em;
  position: relative;
  margin-bottom: 3vh;
  /* text-align: center; */
  /* border-color: #b3b3b3; */
  border-width: 1px;
  font-family: "Saira Semi Condensed", sans-serif;
}

.area {
  /* margin: 1vh 0; */
  /* width: 36vh; */
}

.loginBtn {
  font-family: "Saira Semi Condensed", sans-serif;
  width: 50vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  background-color: #59c1bd;
  border: none;
  outline: none;
  box-shadow: 0 5px 5px #00000067;
  height: 6vh;
}
.loginBtn:active {
  transform: translateY(5px);
  box-shadow: 0 0 0;
}
.hrLine {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0;
  margin-top: 2vh;
  width: 100%;
}
.NewAccount {
  margin: 0;
  color: gray;
  font-size: 2vh;
  font-family: "Saira Semi Condensed", sans-serif;
}
.hrStart {
  width: 10%;
  margin: 0;
  margin-right: 1vh;
}
.hrEnd {
  width: 10%;
  margin: 0;
  margin-left: 1vh;
}
.addAccount {
  cursor: pointer;
  margin-top: -2vh;
}

.createAccountBtn {
  font-family: "Saira Semi Condensed", sans-serif;
  width: 50vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  background-color: #59c1bd;
  border: none;
  outline: none;
  box-shadow: 0 5px 5px #00000067;
  height: 6vh;
}
.createAccountBtn:active {
  transform: translateY(5px);
  box-shadow: 0 0 0;
}
.sign-up-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tmc-email {
  /* width: 22vh; */
  margin-left: 18vh;
  padding-right: 22vh;
}
.sign-up-side p {
  font-size: 10px;
  margin: 0px;
  position: relative;
  left: -20vh;
  font-size: 2vh;
}

.signIn-selectbox {
  position: relative;
  margin: 2vh;
  margin-bottom: 3vh;
}

.signIn-selectbox::before,
.signIn-selectbox::after {
  position: absolute;
  content: "";
  pointer-events: none;
}

.signIn-selectbox::before {
  display: inline-block;
  right: 0;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0 3px 3px 0;
  background-color: #59c1bd;
}

.signIn-selectbox::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.signIn-selectbox select {
  appearance: none;
  min-width: 51vh;
  height: 2.8em;
  padding: 0.4em 3.6em 0.4em 0.8em;
  border-radius: 3px;
  color: #333;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  border-width: 1px;
}

.signIn-selectbox select:focus {
  outline: 2px solid #59c1bd;
}

.signUp-btn-block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.signUp-syamotIcon {
  width: 20vh;
  height: 20vh;
  position: relative;
  top: 6vh;
}
