.swiper {
  width: 25vh;
}
.slide {
  width: 167px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.itemImage {
  width: auto;
  height: 177px;
  max-width: 200px;
  margin: 5px;
}
.slider__wrapper {
  position: relative;
}
.swipeBrock {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 22vh;
}
#button_prev {
  position: relative;
  left: -18vh;
  top: -15vh;
}
#button_next {
  position: relative;
  left: 18vh;
  top: -22vh;
}
.leftAllow {
  height: 6vh;
  width: 6vh;
}
.rightAllow {
  height: 6vh;
  width: 6vh;
}
