.swiper {
  width: 25vh;
}
.slide {
  width: 167px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.itemImage {
  /* width: auto; */
  /* height: 192px; */
  /* max-width: 200px; */
  /* margin: 5px; */
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  border-radius: 15px;
}
.slider__wrapper {
  position: relative;
}
.swipeBrock {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 2vh;
}
#button_prev {
  position: absolute;
  left: -7vh;
  top: 9vh;
}
#button_next {
  position: absolute;
  right: -7vh;
  top: 9vh;
}
.leftAllow {
  height: 6vh;
  width: 6vh;
}
.rightAllow {
  height: 6vh;
  width: 6vh;
}

/*  */
.swiper-container {
  width: 100%;
  margin: 40px 0;
  padding: 45px 0;
}

.swiper-slide {
  opacity: 0.4;
  overflow: hidden;
  transition: 0.7s;
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1.5); /* スライドの大きさ調整 */
}
