body {
  overflow: auto;
}
.transaction-all {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding-left: 1%; */
  /* padding-left: 1%; */
  max-height: 90vh;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(89, 193, 189));
}

.transaction-titleBrock {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
  top: 2vh;
  height: 7vh;
}

.transaction-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-posionAdjust {
  margin: 0px 1.5vh;
  width: 4vh;
}

.transaction-backIcon {
  margin: 0px 1.5vh;
  width: 4vh;
  height: 4vh;
}

.transaction-titleName {
  font-size: 2vh;
  margin: 0;
}

.transaction-mainBlock {
  top: 3vh;
  position: relative;
  width: 80%;
  height: 71vh;
  max-height: 68vh;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: gray;
  background-color: #e4f5f3;
  border-radius: 1vh;
}

.transaction-chatBlock {
  overflow-y: scroll;
  max-height: 60vh;
}

.transaction-postMessageBlock {
  display: flex;
  position: absolute;
  top: 61vh;
  margin: 0 3%;
  left: 0;
  align-items: center;
  width: 94%;
  /* background-color: red; */
}

/* ここ　送信者 */
.transaction-sendMessageBlock {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 13rem;
  margin: 1rem;
  /* padding: 0.8em 1.2em; */
  border: 0.5px solid #8f8f8f;
  border-radius: 5px;
  background-color: #fff;
  color: #333333;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: fit-content;
  top: 0px;
  margin-right: 1rem;
  margin-left: auto;
}

.transaction-sendMessageBlock::before,
.transaction-sendMessageBlock::after {
  position: absolute;
  right: -12px;
  width: 12px;
  height: 18px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  content: "";
  top: 0.5rem;
}

.transaction-sendMessageBlock::before {
  background-color: #adadad;
}

.transaction-sendMessageBlock::after {
  right: -11px;
  background-color: #fff;
}

/* ここ 相手*/

.transaction-otherMessage {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 13rem;
  width: fit-content;
  margin: 1rem;
  /* padding: 0.8em 1.2em; */
  border: 0.5px solid #8f8f8f;
  border-radius: 5px;
  background-color: #fff;
  color: #333333;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.transaction-otherMessage ::before,
.transaction-otherMessage ::after {
  position: absolute;
  left: -12px;
  width: 12px;
  height: 18px;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  content: "";
  top: 0.5rem;
}

.transaction-otherMessage ::before {
  background-color: #8f8f8f;
}

.transaction-otherMessage ::after {
  left: -11px;
  background-color: #fff;
}

/* ・・・ */

.transaction-statusMessageContent {
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
  border-bottom: 0.5px solid #333;
  padding: 20px 0.5px 0px 0px;
  margin: 1vh;
}

.transaction-chatInput {
  font-size: 2vh;
  width: 90%;
  height: 2vh;
  position: relative;
  top: 0vh;
  padding: 1vh;
  border-radius: 2vh;
  /* margin: 0 2% 0 1%; */
}

.transaction-messageContent {
  font-size: 1.8vh;
  /* border: 1px solid #333; */
  border-radius: 8px;
  vertical-align: middle;
  /* padding: 1vh; */
  margin: 1vh;
  border-radius: 2vh;
  max-width: 13rem;
  word-break: break-all;
}

.transaction-footerBlock {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
  top: 6vh;
  height: 15vh;
  align-items: center;
}

/* .transaction-payment {
  height: 9vh;
  background-color: #ff5758;
  border: #ff5758;
  color: white;
  margin: 0;
  border-radius: 1vh;
  border: none;
  outline: none;
  box-shadow: 0 5px 5px #00000067;
} */

.transaction-payment {
  width: 40vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  color: white;
  background-color: #ff5758;
  border: none;
  outline: none;
  /* box-shadow: 0 5px 5px #00000067; */
  box-shadow: 0 0.3em 0 #b13a3a;
}
.transaction-payment:active {
  margin-top: 0.2em;
  box-shadow: 0 0.1em 0 #b13a3a;
}

.transaction-dummy {
  width: 40vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;

  background-color: #bdbaba;
  border: none;
  outline: none;
  /* box-shadow: 0 5px 5px #00000067; */
}

/* .transaction-statusBtn {
  height: 9vh;
  background-color: #d9d9d9;
  border: #d9d9d9;
  color: black;
  margin: 2vh 0;
  border-radius: 1vh;
  border: none;
  outline: none;
  box-shadow: 0 5px 5px #00000067;
} */

.transaction-statusBtn {
  width: 40vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  background-color: #0c4c92;
  border: none;
  outline: none;
  box-shadow: 0 0.3em 0 #042244;
  color: white;
}
.transaction-statusBtn:active {
  margin-top: 0.2em;
  box-shadow: 0 0.1em 0 #042244;
}

.transaction-sendBtn {
  width: 4vh;
  height: auto;
  /* margin-left: 2%; */
  /* margin: 0 2% 0 2%; */
  margin: auto;
  transform: rotate(45deg);
  position: relative;
  top: 0;
  /* right: 18px; */
  /* background: aliceblue; */
}
