.titleBrock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 10vh;
}
.transactionTitle {
  position: relative;
  top: -1vh;
}
.footerBrock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10vh;
  width: 100%;
}
.transMainBrock {
  position: fixed;
  top: 19vh;
  width: 97%;
  margin-left: 1%;
  margin-right: 2%;
  height: 52vh;
  max-height: 52vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-radius: 2vh;
}
.chatIcon {
  width: 5vh;
  height: 5vh;
  position: relative;
  top: -1vh;
  left: -1vh;
}
.approvalBtn {
  width: 52vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  margin: 1vh;
  height: 5vh;
}
.completeBtn {
  width: 52vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  margin: 1vh;
  height: 5vh;
}
.postMessageBrock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 18vh;
  width: 97%;
  margin-left: 1%;
  margin-right: 2%;
}
.chatInput {
  font-size: 3vh;
  width: 40vh;
  height: 6vh;
  padding: 1vh;
}
.sendBtn {
  width: 5vh;
  height: 5vh;
  margin-left: 2vh;
}
.messageBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.messageBlock2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: yellow;
}
/* .messageIcon {
  height: 6vh;
  width: 6vh;
} */
.messageContent {
  font-size: 3vh;
  /* width: 19vh; */
  border: solid;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  padding: 1vh;
  margin: 1vh;
}
