footer {
  position: fixed;
  bottom: 0vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: #808080;
}

.searchIcon,
.postIcon,
.settingIcon {
  width: 6vh;
  height: 6vh;
}
.searchIcon,
.postIcon,
.settingIcon {
  margin: 5vh;
}

.settingIcon {
  rotate: 90deg;
}
