* {
  background-color: white;
}

.image-box img {
  width: auto;
  height: 130px;
}

/* .image-list {
    width: 20px;
} */

li {
  list-style: none;
  margin: 1vh;
  object-fit: cover;
  width: 150px;
  height: 150px;
  background-color: #ccc;
  border: 1px solid #ccc;
}

ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* position: absolute; */
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
