p {
  margin: 10px;
}

.post-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  position: fixed;
  top: 10vh;
  width: 100%;
  max-height: 82vh;
  display: flex;
  height: 82vh;
  overflow-y: scroll;
}
.post-box-piece {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  border-bottom: solid;
  border-bottom: solid 0.1px;
  padding-bottom: 10px;
}

.post-box-piece-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid;
  border-bottom: solid 0.1px;
}

.post-description-item {
  height: 100px;
}

.post-inner-item {
  display: flex;
  align-items: center;
}
