.titleBrock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 13vh;
}
.title {
  top: -1vh;
}
.footerBrock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10vh;
  width: 100%;
}
.transMainBrock {
  position: fixed;
  top: 19vh;
  width: 93%;
  height: 52vh;
  max-height: 52vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-radius: 2vh;
}
.chatIcon {
  width: 5vh;
  height: 5vh;
  position: relative;
  top: -1vh;
  left: -1vh;
}
.approvalBtn {
  width: 40vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  margin: 1vh;
  height: 5vh;
}
.completeBtn {
  width: 40vh;
  font-size: 3vh;
  border-style: solid;
  border-radius: 1vh;
  margin: 1vh;
  height: 5vh;
}
.postMessageBrock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20vh;
}
.chatInput {
  font-size: 3vh;
  width: 40vh;
  height: 6vh;
  padding: 1vh;
}
.sendBtn {
  width: 5vh;
  height: 5vh;
  margin-left: 2vh;
}
