@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=Noto+Sans+JP:wght@500&display=swap");
body {
  font-family: "M PLUS 1p", sans-serif;

  min-height: 100vh;
  min-height: 100dvh;
  /* mobile viewport bug fix */
  /* min-height: -webkit-fill-available; */
}
input {
  font-family: "M PLUS 1p", sans-serif;
}
button {
  font-family: "M PLUS 1p", sans-serif;
}

* {
  font-family: "M PLUS 1p", sans-serif;
}
li {
  list-style: none;
}

html {
  /* height: -webkit-fill-available; */
  min-height: 100vh;
  min-height: 100dvh;
}
