@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=Noto+Sans+JP:wght@500&display=swap");
body {
  font-family: "M PLUS 1p", sans-serif;
}
input {
  font-family: "M PLUS 1p", sans-serif;
}
button {
  font-family: "M PLUS 1p", sans-serif;
}
