@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=Noto+Sans+JP:wght@500&display=swap");
body {
  font-family: "M PLUS 1p", sans-serif;
  /* -webkit-overflow-scrolling: touch; */
}

html,
body {
  height: 100%;
  /* overflow: auto; */
  height: 100dvh;
  height: 100ddvh;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none; */
}

input {
  font-family: "M PLUS 1p", sans-serif;
}
button {
  font-family: "M PLUS 1p", sans-serif;
}

* {
  font-family: "M PLUS 1p", sans-serif;
}
li {
  list-style: none;
}
